body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App .logo {
  width: 150px;
  margin-top: 60px;
}

.App h1 {
  font-family: 'Concert One', sans-serif;
  font-size: 42px;
  color: #B98CEF;
}